* {
  margin: 0;
  padding: 0;
}

body {
  height: max-content;
}

#root {
  width: 100%;
  height: 100%;
}

@keyframes topDownPadding {
  0% {
    padding-top: 2%;
    animation-timing-function: cubic-bezier(1, 0, 0.33, 0.99);
  }
  50% {
    padding-top: 8%;
    animation-timing-function: cubic-bezier(0.02, 0.66, 1, 0.76);
  }
  100% {
    padding-top: 2%;
  }
}

