@import "tailwindcss";

@theme {
  --color-bg: #0f0f0f;
  --color-bg-light: #111112;
  --color-primary: #02bd34;

  --color-index-primary: #0f0f0f;
  --color-index-second: #faeded;
  --color-index-second-100: #dbdbd9;
  --color-index-second-500: #858583;
  --color-index-third: #02bd34;
  --color-index-forth: #d60229;
  --font-DM_Sans: DM Sans;
  --font-Roboto: Roboto;
}

:root {
  --nav-height: 4vh;
  --without-scroll-width: 99.21vw;
  --page-sub-section-height: 96vh;
}

body {
  height: max-content;
}

.debug {
  @apply outline-1 outline-solid outline-amber-500;
}

#root {
  width: 100%;
  height: 100%;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(4px);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
